-#  This file is app/views/movies/index.html.haml
%h1 All Movies
= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, !!(check_ratings(rating))
  = submit_tag 'Refresh', {:id => "#ratings_submit button"}

%table#movies
  %thead
    %tr
      %th{sorted?("title")}= sort_col "title", "Movie Title"
      %th{sorted?("rating")}= sort_col "rating"
      %th{sorted?("release_date")}= sort_col "release_date", "Release Date"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

